button {border-color: #cfd9de;
        color: #0f1419;
        font-weight: bold;
        border-radius: 20px;
        border: 1px solid rgb(184, 184, 184);
        background: white;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }