.main {
    margin-top: 150px;
    }
.searchbox{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}
.pic{
    width: 300px;
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    }
.btn{
    margin-top: 10px;
    border: none;
    border-radius: 14px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #dfe1e5;
    font-size: 14px;
    margin-left: 4px;
    margin-right: 4px;
    }
    .mbtn{
        display: flex;
        justify-content: center;
        }
