 @font-face {
        font-family: "deathstar";
        src: url("deathstar.otf") format("opentype"); 
    }
body{
    margin: 0 ;
    text-align: center;
    font-family: "deathstar";
    color: #7D727Dff;
}
#hero{
    background-image: url("galaxy.webp");
    background-size: cover;
    padding: 20px;
}
#title{
    text-shadow: 2px -2px 0px black;
}
.btn{
    background: white;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    padding: 6px 10px;
    font-family: "deathstar";
    color: #7D727Dff;
}
.cta{
     border-bottom: 2px solid whitesmoke;
     padding: 2px;
}
#mainlogo{
     width: 110px;
}
