body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.passport{
    width: 150px;
}
.card{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto 0 auto;
    text-align: center;
    color: #2b2839;
    background: #d8cefe;
    border-bottom: 5px solid #ddebf8;
}
